:root {    
    --epic-black: #090804;
    --epic-dark-gray: #1b1b1e;
    --epic-button-gray: #323235;
    --epic-button-subtitle-gray: #86868a;
    --epic-button-title-color: #2a8dbb;
    height: 100%;
    width: 100%;
}

.cell_header {
    
}

.cell_bottom {
    background-color: var(--epic-dark-gray);
}

.product_button {
    background-color: var(--epic-button-gray);
    color: var(--epic-button-title-color);
}

.product_subtitle {
    color: var(--epic-button-subtitle-gray);
}